body {
  font-size: 24px;
  font-family: 'Segoe UI';
  color: white;
  background-color: var(--main-background-color);
  margin: 50px;
}

.button {
  text-decoration: none;
  outline: none;
  transition: 200ms linear;
  color: white;
  background-color: var(--main-background-color);
  cursor: pointer;
  border-bottom: transparent solid 1px;
}

.button:hover {
  border-color: white;
}

div.spacer {
  width: 100%;
  height: 5px;
}

div {
  font-weight: 600;
}
#errorCode {
  cursor: pointer;
}
